:root {
  --ff-primary: "Poppins", sans-serif;
  --fw-light: 200;
  --fw-reg: 400;
  --fw-bold: 600;
  --fs-h1: 1.5rem;
  --fs-h2: 1.2rem;
  --fs-body: 0.85rem;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --bs: 0 0.9em 1.25em rgba(2, 68, 143, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 2rem;
    --fs-body: 0.95rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --fs-h1: 2.55rem;
    --fs-h2: 1.25rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--very-light-gray);
}

main {
  min-height: calc(100vh - 44.8px);
  width: 85vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.card__img {
  width: 55px;
  display: block;
  margin-left: auto;
  margin-top: auto;
}

.card--supervisor::before {
  background: var(--cyan);
}

.card--team-builder::before {
  background: var(--red);
}

.card--karma::before {
  background: var(--orange);
}

.card--calculator::before {
  background: var(--blue);
}

.attribution {
  padding: 1rem;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  color: var(--grayish-blue);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  color: var(--very-dark-blue);
}

h2 {
  font-size: var(--fs-h2);
  color: var(--very-dark-blue);
}

.intro {
  text-align: center;
}

.intro__body {
  font-size: 0.95rem;
  font-weight: var(--fw-reg);
}

@media screen and (min-width: 800px) {
  .intro__body {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .intro__body {
    font-size: 1.05rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--very-dark-blue);
}

.attribution__link {
  color: #3e52a3;
}

main {
  padding-top: 44.8px;
}

section {
  margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  section {
    margin: 0;
  }
}

.sections-container {
  max-width: 400px;
}

@media screen and (min-width: 800px) {
  .sections-container {
    max-width: 1200px;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 800px) {
  .cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    gap: 2vw;
  }
}

.intro {
  margin: 0 auto 4rem;
}

.intro__title {
  margin-bottom: 1rem;
}

.intro strong {
  display: block;
}

@media screen and (min-width: 800px) {
  .intro {
    max-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .intro {
    max-width: 600px;
  }
}

.card {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__body {
  margin: 0.5rem 0 2.5rem;
}

@media screen and (min-width: 800px) {
  .card--supervisor, .card--calculator {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .card--team-builder {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .card--karma {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
}
/*# sourceMappingURL=style.css.map */